/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
scanner_config.php
/observer_pics
messages/
.env.homestead
.env.mac
lib/setup/databaseInfo.php
