/laravel/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
scanner_config.php
/observer_pics
storage/framework/messages/
.env.homestead
.env.mac
/old/lib/setup/databaseInfo.php
.vscode/settings.json
.vscode
/laravel/storage/media-library/
/laravel/public/js/app.js
/laravel/public/css/app.css
/laravel/storage/framework/messages
.dccache
.editorconfig
/vendor/*
/.idea/*
