php_value memory_limit 512M

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteRule deepsky/$ /index.php
RewriteRule deepsky/index.php(.*)$ /index.php$1
RewriteRule comets/(.*)\.php(.*)$ /index.php?indexAction=comets_$1$2
RewriteRule comets/$ /index.php?indexAction=comets_all_observations
</IfModule>

AddHandler application/x-httpd-php .pdf
AddHandler application/x-httpd-php .csv
AddHandler application/x-httpd-php .argo
AddHandler application/x-httpd-php .icq
AddHandler application/x-httpd-php .xml

<Files observations.pdf>
    ForceType application/x-httpd-php
</Files>
<Files observations.csv>
    ForceType application/x-httpd-php
</Files>
<Files objects.pdf>
    ForceType application/x-httpd-php
</Files>
<Files objects.csv>
    ForceType application/x-httpd-php
</Files>
<Files objects.argo>
    ForceType application/x-httpd-php
</Files>
<Files cometobservations.pdf>
    ForceType application/x-httpd-php
</Files>
<Files cometobservations.icq>
    ForceType application/x-httpd-php
</Files>
<Files observations.xml>
    ForceType application/x-httpd-php
</Files>

