RewriteEngine on
RewriteBase /
RewriteRule deepsky/$ /index.php
RewriteRule deepsky/index.php(.*)$ /index.php$1
RewriteRule comets/(.*)\.php(.*)$ /index.php?indexAction=comets_$1$2
RewriteRule comets/$ /index.php?indexAction=comets_all_observations

AddType application/rss+xml .rss
