
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select2
@import '~select2/dist/css/select2';
@import '~select2-bootstrap4-theme/dist/select2-bootstrap4.css';

// jquery-ui
@import '~jquery-ui/themes/base/all.css';

// DeepskyLog
@import './deepskylog.css';
@import './deepskylog_night.css';
@import './deepskylog_dark.css';

// jquery datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~datatables.net-buttons-dt/css/buttons.dataTables.css';
@import '~datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css';

// bootstrap-fileinput
@import '~bootstrap-fileinput/css/fileinput.min.css';

// lity
@import '~lity/dist/lity.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
