.cookie-consent {
    font-size: 0.9em;
    padding: 1em;
    background: #fff2e0;
    text-align: center;
}

.cookie-consent__message {
    display: inline-block;
    color: #d98e00;
}

.cookie-consent__message p {
    margin: 0;
}

.cookie-consent__agree {
    font-weight: bold;
    margin: 0 1em;
    padding: .5em 1em;
    color: #fff2e0;
    background-color: #d98e00;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(217, 142, 0, 0.15);
}

.cookie-consent__agree:hover {
    background-color: #734d00;
}

.cookie-consent__agree:active {
    top: 1px;
}

.thumbnail-no-border {
    border: 0 none;
    box-shadow: none;
}

.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}

.accomplishmentRow {
	clear:both;
	height: 140px;
}

.accomplishmentText {
 position: relative;
  top: 25px;
  font-size: 32px;
  text-align: center;
  color: red;
  font-family: 'Yellowtail', cursive;
}

.star {
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 140px;
  float: left;
}

#bronze {
  background-image: url("images/star-bronze.png");
}

#silver {
  background-image: url("images/star-silver.png");
}

#gold {
  background-image: url("images/star-gold.png");
}

#diamond {
  background-image: url("images/star-diamond.png");
}

#platinum {
  background-image: url("images/star-platina.png");
}

#newbie {
  background-image: url("images/star-silver.png");
}

#rookie {
  background-image: url("images/star-silver.png");
}

#beginner {
  background-image: url("images/star-silver.png");
}

#talented {
  background-image: url("images/star-silver.png");
}

#skilled {
  background-image: url("images/star-silver.png");
}

#intermediate {
  background-image: url("images/star-silver.png");
}

#experienced {
  background-image: url("images/star-silver.png");
}

#advanced {
  background-image: url("images/star-silver.png");
}

#senior {
  background-image: url("images/star-silver.png");
}

#expert {
  background-image: url("images/star-silver.png");
}

.notAccomplished {
  opacity: 0.2;
}

.form-signin{max-width:330px;margin:0 auto;padding:15px;}
.form-signin .form-signin-heading,.form-signin .checkbox{margin-bottom:10px;}
.form-signin .checkbox{font-weight:normal;}
.form-signin .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.form-signin .form-control:focus{z-index:2;}
.form-signin input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.form-signin input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
.account-wall{margin-top:20px;background-color:#f7f7f7;-moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:40px 0 20px;}
.login-title{color:#555;font-size:18px;font-weight:400;display:block;}
.need-help{margin-top:10px;}
.new-account{display:block;margin-top:10px;}

.move{
  margin-top: 50px;
  padding-top: 75px;
  margin-bottom: 50px;
  padding-bottom: 75px;
}
.divide-text{
    color:#fff;
    line-height: 20px;
    font-size:20px;
    padding: 15px 0;
}

.affix {
  top: 50px;
  width:100%;
}

.filler{
  min-height: 2000px;
}

.navbar-form {
    padding: 10px 0;
}

.navbar-collapse{
   padding-left:0;
}

/*** custom css only popup ***/
.columnSelectorWrapper {
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.columnSelector, .hidden {
  display: none;
}
.columnSelectorButton {
  background: #99bfe6;
  border: #888 1px solid;
  color: #111;
  border-radius: 5px;
  padding: 5px;
}
#colSelect1:checked + label {
  background: #5797d7;
  border-color: #555;
}
#colSelect1:checked ~ #columnSelector {
  display: block;
}
.columnSelector {
  z-index:9999;
  width: 120px;
  position: absolute;
  top: 30px;
  padding: 10px;
  background: #fff;
  border: #99bfe6 1px solid;
  border-radius: 5px;
}
.columnSelector label {
  display: block;
}
.columnSelector label:nth-child(1) {
  border-bottom: #99bfe6 solid 1px;
  margin-bottom: 5px;
}
.columnSelector input {
  margin-right: 5px;
}
.columnSelector .disabled {
  color: #ddd;
}
/* pager wrapper, div */
.tablesorter-pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.tablesorter-pager {
  background-color: #e6eeee;
  margin: 0; /* needed for bootstrap .pager gets a 18px bottom margin */
}
/* pager navigation arrows */
.tablesorter-pager img {
  vertical-align: middle;
  margin-right: 2px;
  cursor: pointer;
}

/* pager output text */
.tablesorter-pager .pagedisplay {
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
  margin: 0;
  padding: 0;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.tablesorter-pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.tablesorter-pager .disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
.typeDifficult {
  background-color : #CC0000;
  padding          : 2px;
  color            : #000000;
}
.typeEasy {
  background-color : #339900;
  padding          : 2px;
  color            : #000000;
}
.typeNotVisible {
  background-color : #777777;
  padding          : 2px;
  color            : #000000;
}
.typeQuestionable {
  background-color : #999999;
  padding          : 2px;
  color            : #000000;
}

.typeQuiteDifficult {
  background-color : #FF6600;
  padding          : 2px;
  color            : #000000;
}

.typeVeryEasy {
  background-color : #66FF00;
  padding          : 2px;
  color            : #000000;
}
.seenN {
  background-color : #CC2222;
  padding          : 2px;
}
.seenX {
  background-color : #E5E500;
  padding          : 2px;
}
.seenY {
  background-color : #228822;
  padding          : 2px;
}
.seenYD {
  background-color : #228822;
  padding          : 2px;
  color: yellow;
}
.seenY > a:link, .seenY > a:visited, .seenYD > a:link, .seenYD > a:visited, .seenX > a:link, .seenX > a:visited, .seenN > a:link, .seenN > a:visited {
    color: yellow;
}
.strikethrough {
  text-decoration  : line-through;
}
.tablesorter-header.tablesorter-reorder-helper {
  cursor: move;
}
.tablesorter-reorder-helper-bar {
  width: 1px;
  background: #000;
}
.textred {
  color            : #FF0000;
}
.DSSImage {
  width            : 495px;
  height           : 495px;
}
.ephemeridesgreen {
  background-color      : #008800;
}
.ephemeridesyellow {
  background-color      : #DDDD00;
}
.type10 {
  background-color : #F0F0F0;
  color            : #000000;
  border           : #FFFFFF thin solid;
}
.right{
    padding:0;
    float:right;
    margin: 0 10px 0 0;
}
.centered {
  text-align       : center;
}
.current {
    background-color: #FFAAAA;
}
table.tablesorter tr.green td {
    background-color: green;
}
table.tablesorter tr.copyright td {
  font-size        : 80%;
  background-color : #FFAAAA;
}
table.tablesorter tr.type1 td {
  background-color : #F0F0F0;
  padding          : 2px;
  color            : #000000;
}
table.tablesorter tr.type2 td {
  background-color : #E0E6EC;
  padding          : 2px;
  color            : #000000;
}
.atlasPageDiv {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 100%;
  width            : 100%;
  margin           : 0%;
  background-color : #000000;
  border-style     : none;
}
.atlasPageDiv1 {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 100%;
  width            : 100%;
  margin           : 0%;
  color            : #FFFF00;
  background-color : #555555;
  border-style     : solid;
  border-width     : 1px;
  border-color     : #FFFFFF;
  cursor           : none;
  font-size        : 8pt;
  padding          : 1px;
}
.atlasPageDiv2 {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 100%;
  width            : 100%;
  margin           : 0%;
  color            : #FFFF00;
  background-color : #555555;
  border-style     : none;
  border-width     : 1px;
  border-color     : #FFFF00;
  cursor           : none;
  font-family      : Lucida Console,sans-serif;
  font-size        : 8pt;
  padding          : 2px;
  visibility       : hidden;
  overflow         : auto;
}
.atlasPageDiv3 {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 100%;
  width            : 100%;
  margin           : 0%;
  color            : #FFFF00;
  background-color : #555555;
  border-style     : none;
  border-width     : 1px;
  border-color     : #FFFF00;
  cursor           : none;
  font-family      : Lucida Console,sans-serif;
  font-size        : 8pt;
  padding          : 2px;
  visibility       : hidden;
  overflow         : auto;
}
.abbrevTable {
  border-style     : none;
  border-width     : 1px;
  border-color     : #FFFF00;
}
#div5 {
  margin           : 0px;         border : 0px;
  padding-left     : 0px;         padding-right : 2px;
  padding-top       : 0px;        padding-bottom: 0px;
  background-color : #FFFFFF;
  overflow         : auto;
}
.observercatalogbackground {
  background       : #FFFFFF;
  color            : #000000;
  padding          : 5px 5px 5px 5px;
  text-align       : right;
}
.observercataloggreen {
  background       : #33FF00;
  color            : #000000;
  padding          : 5px 5px 5px 5px;
  text-align       : center;
}
.observercatalogred {
  background       : #FF0000;
  color            : #000000;
  padding          : 5px 5px 5px 5px;
  text-align       : center;
}
.observercatalogyellow {
  background       : #FFFF00;
  color            : #000000;
  padding          : 5px 5px 5px 5px;
  text-align       : center;
}
 #map {
        height: 400px;
        width: 600px;
        border: 1px solid #333;
        margin-top: 0.6em;
}
#datepicker{
		text-align:center;
}

.img-responsive { width:100%; }

@media (max-width: 1100px){ #listsSelectForm .form-group .form-control{
		width: 100px
		}
}

@media (max-width: 767px){ #listsSelectForm .form-group .form-control{
		width: 100%
		}
}

.tablesorter-pager {
	font-size: 18px;
}

.sidebar-outer {
    position: relative;
}

.second-navbar{
  top:50px;
  z-index: 2;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
td.details-control {
    background: url('/styles/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('/styles/images/details_close.png') no-repeat center center;
}

.details tr{
	border-bottom: #eeeeee 1px solid;
}

.moonpic {
	float: right;
	border-radius: 6px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.type10 {
    background-color : #F0F0F0;
    color            : #000000;
    border           : #FFFFFF thin solid;
}

.right{
    padding:0;
    float:right;
    margin: 0 10px 0 0;
}

[data-theme="dark"] {
    color: #eeeeee;
    background-color: #111111;
}

[data-theme="dark"] .navbar, [data-theme="dark"] .bg-light, [data-theme="dark"] .border-top, [data-theme="dark"] .border-bottom {
    background-color: #333333 !important;
}

[data-theme="dark"] .sidebar {
    background-color: #040404 !important;
}

[data-theme="dark"] .dropdown-menu {
    background-color: #686868 !important;
    color: #000000 !important;
}






[data-theme="night"] {
    color: #ff1313;
    background-color: #040000;
}

[data-theme="night"] .navbar, [data-theme="night"] .bg-light, [data-theme="night"] .border-top, [data-theme="night"] .border-bottom {
    background-color: #530000 !important;
}

[data-theme="night"] .sidebar {
    background-color: #040000 !important;
}

[data-theme="night"] .navbar-brand, [data-theme="night"] .navbar-dark .navbar-nav .nav-link {
    color: #FF0000 !important;
}

[data-theme="night"] .dropdown-menu {
    background-color: #680000 !important;
    color: #FF0000 !important;
}

[data-theme="night"] .dropdown-item {
    color: #FF1313 !important;
    background-color: #680000;
}

[data-theme="night"] .dropdown-item:hover, [data-theme="night"] .dropdown-item:focus {
    color: #ff0000;
    text-decoration: none;
    background-color: #aa0000;
}

[data-theme="night"] .btn-light {
    background-color: #710000;
}

[data-theme="night"] .fa-inbox:before {
    color: #ff0000;
}

[data-theme="night"] .badge-secondary {
    color: #FF0000;
    background-color: #A40000;
}

[data-theme="night"] .navbar-light .navbar-text {
    color: #A00000;
}

[data-theme="night"] .navbar-light .navbar-text a {
    color: #FF0000;
}

[data-theme="night"] input {
    background-color: #530000;
    color: #ec0000;
}

[data-theme="night"] .select2-dropdown {
    background-color: #530000;
    border: 1px solid #800000;
}

[data-theme="night"] .select2-close-mask {
    background-color: #fff;
}

[data-theme="night"] .select2-container--default .select2-selection--single {
    background-color: #990000;
    border: 1px solid #8e0000;
}

[data-theme="night"] .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #220000;
}

[data-theme="night"] .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #ff0000
}

[data-theme="night"] .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ff0000 transparent transparent transparent;
}

[data-theme="night"] .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
}

[data-theme="night"] .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
}

[data-theme="night"] .select2-container--default .select2-selection--multiple {
    background-color: #530000;
    border: 1px solid #ff0000;
}

[data-theme="night"] .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #ff0000;
}

[data-theme="night"] .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ff0000;
    border: 1px solid #cc0000;
}

[data-theme="night"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
}

[data-theme="night"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

[data-theme="night"] .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
}

[data-theme="night"] .select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
}

[data-theme="night"] .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #800000;
    background-color: #2d0000;
}

[data-theme="night"] .select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

[data-theme="night"] .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #2d0000
}

[data-theme="night"] .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #b70000;
    color: #220000;
}

[data-theme="night"] .select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #800000;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

[data-theme="night"] .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #b70000
}

[data-theme="night"] .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
}

[data-theme="night"] .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

[data-theme="night"] .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #2d0000;
    border-left: 1px solid #800000;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

[data-theme="night"] .select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
}

[data-theme="night"] .select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border-right: 1px solid #800000;
}

[data-theme="night"] .select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #b70000
}

[data-theme="night"] .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
}

[data-theme="night"] .select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

[data-theme="night"] .select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

[data-theme="night"] .select2-container--classic .select2-selection--multiple {
    background-color: #530000;
    border: 1px solid #800000;
}

[data-theme="night"] .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #b70000
}

[data-theme="night"] .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #800000;
}

[data-theme="night"] .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
}

[data-theme="night"] .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

[data-theme="night"] .select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #b70000
}

[data-theme="night"] .select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #800000;
}

[data-theme="night"] .select2-container--classic .select2-dropdown {
    background-color: #fff;
}

[data-theme="night"] .select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}

[data-theme="night"] .select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

[data-theme="night"] .select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #b70000
}

[data-theme="night"] .btn-success {
    color: #390000;
    background-color: #b70000;
    border-color: #9e0000;
}

[data-theme="night"] .btn-success:focus,
[data-theme="night"] .btn-success.focus {
    color: #390000;
    background-color: #840000;
    border-color: #1e0000;
}

[data-theme="night"] .btn-success:hover {
    color: #390000;
    background-color: #840000;
    border-color: #600000;
}

[data-theme="night"] .btn-success:active,
[data-theme="night"] .btn-success.active,
[data-theme="night"] .open>.dropdown-toggle.btn-success {
    color: #390000;
    background-color: #840000;
    border-color: #600000;
}

[data-theme="night"] .btn-success:active:hover,
[data-theme="night"] .btn-success.active:hover,
[data-theme="night"] .open>.dropdown-toggle.btn-success:hover,
[data-theme="night"] .btn-success:active:focus,
[data-theme="night"] .btn-success.active:focus,
[data-theme="night"] .open>.dropdown-toggle.btn-success:focus,
[data-theme="night"] .btn-success:active.focus,
[data-theme="night"] .btn-success.active.focus,
[data-theme="night"] .open>.dropdown-toggle.btn-success.focus {
    color: #390000;
    background-color: #600000;
    border-color: #1e0000;
}

[data-theme="night"] .btn-success.disabled:hover,
[data-theme="night"] .btn-success[disabled]:hover,
[data-theme="night"] fieldset[disabled] .btn-success:hover,
[data-theme="night"] .btn-success.disabled:focus,
[data-theme="night"] .btn-success[disabled]:focus,
[data-theme="night"] fieldset[disabled] .btn-success:focus,
[data-theme="night"] .btn-success.disabled.focus,
[data-theme="night"] .btn-success[disabled].focus,
[data-theme="night"] fieldset[disabled] .btn-success.focus {
    background-color: #b70000;
    border-color: #9e0000;
}

[data-theme="night"] .btn-success .badge {
    color: #b70000;
    background-color: #390000;
}

[data-theme="night"] .table>thead>tr>th,
[data-theme="night"] .table>tbody>tr>th,
[data-theme="night"] .table>tfoot>tr>th,
[data-theme="night"] .table>thead>tr>td,
[data-theme="night"] .table>tbody>tr>td,
[data-theme="night"] .table>tfoot>tr>td {
    border-top: 1px solid #ff0000;
}

[data-theme="night"] .table>thead>tr>th {
    border-bottom: 2px solid #ff0000;
}

[data-theme="night"] .table>tbody+tbody {
    border-top: 2px solid #ff0000;
}

[data-theme="night"] .table {
    background-color: #040000;
    color: #ff1313;
}

[data-theme="night"] .table-bordered {
    border: 1px solid #ff0000;
}

[data-theme="night"] .table-bordered>thead>tr>th,
[data-theme="night"] .table-bordered>tbody>tr>th,
[data-theme="night"] .table-bordered>tfoot>tr>th,
[data-theme="night"] .table-bordered>thead>tr>td,
[data-theme="night"] .table-bordered>tbody>tr>td,
[data-theme="night"] .table-bordered>tfoot>tr>td {
    border: 1px solid #ff0000;
}

[data-theme="night"] .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #660000;
}

[data-theme="night"] .table-hover>tbody>tr:hover {
    background-color: #930000;
}

[data-theme="night"] .table>thead>tr>td.active,
[data-theme="night"] .table>tbody>tr>td.active,
[data-theme="night"] .table>tfoot>tr>td.active,
[data-theme="night"] .table>thead>tr>th.active,
[data-theme="night"] .table>tbody>tr>th.active,
[data-theme="night"] .table>tfoot>tr>th.active,
[data-theme="night"] .table>thead>tr.active>td,
[data-theme="night"] .table>tbody>tr.active>td,
[data-theme="night"] .table>tfoot>tr.active>td,
[data-theme="night"] .table>thead>tr.active>th,
[data-theme="night"] .table>tbody>tr.active>th,
[data-theme="night"] .table>tfoot>tr.active>th {
    background-color: #bb0000;
}

[data-theme="night"] .table-hover>tbody>tr>td.active:hover,
[data-theme="night"] .table-hover>tbody>tr>th.active:hover,
[data-theme="night"] .table-hover>tbody>tr.active:hover>td,
[data-theme="night"] .table-hover>tbody>tr:hover>.active,
[data-theme="night"] .table-hover>tbody>tr.active:hover>th {
    background-color: #a20000;
}

[data-theme="night"] .table>thead>tr>td.success,
[data-theme="night"] .table>tbody>tr>td.success,
[data-theme="night"] .table>tfoot>tr>td.success,
[data-theme="night"] .table>thead>tr>th.success,
[data-theme="night"] .table>tbody>tr>th.success,
[data-theme="night"] .table>tfoot>tr>th.success,
[data-theme="night"] .table>thead>tr.success>td,
[data-theme="night"] .table>tbody>tr.success>td,
[data-theme="night"] .table>tfoot>tr.success>td,
[data-theme="night"] .table>thead>tr.success>th,
[data-theme="night"] .table>tbody>tr.success>th,
[data-theme="night"] .table>tfoot>tr.success>th {
    background-color: #b00000;
}

[data-theme="night"] .table-hover>tbody>tr>td.success:hover,
[data-theme="night"] .table-hover>tbody>tr>th.success:hover,
[data-theme="night"] .table-hover>tbody>tr.success:hover>td,
[data-theme="night"] .table-hover>tbody>tr:hover>.success,
[data-theme="night"] .table-hover>tbody>tr.success:hover>th {
    background-color: #970000;
}

[data-theme="night"] .table>thead>tr>td.info,
[data-theme="night"] .table>tbody>tr>td.info,
[data-theme="night"] .table>tfoot>tr>td.info,
[data-theme="night"] .table>thead>tr>th.info,
[data-theme="night"] .table>tbody>tr>th.info,
[data-theme="night"] .table>tfoot>tr>th.info,
[data-theme="night"] .table>thead>tr.info>td,
[data-theme="night"] .table>tbody>tr.info>td,
[data-theme="night"] .table>tfoot>tr.info>td,
[data-theme="night"] .table>thead>tr.info>th,
[data-theme="night"] .table>tbody>tr.info>th,
[data-theme="night"] .table>tfoot>tr.info>th {
    background-color: #d9edf7;
}

[data-theme="night"] .table-hover>tbody>tr>td.info:hover,
[data-theme="night"] .table-hover>tbody>tr>th.info:hover,
[data-theme="night"] .table-hover>tbody>tr.info:hover>td,
[data-theme="night"] .table-hover>tbody>tr:hover>.info,
[data-theme="night"] .table-hover>tbody>tr.info:hover>th {
    background-color: #c4e3f3;
}

[data-theme="night"] .table>thead>tr>td.warning,
[data-theme="night"] .table>tbody>tr>td.warning,
[data-theme="night"] .table>tfoot>tr>td.warning,
[data-theme="night"] .table>thead>tr>th.warning,
[data-theme="night"] .table>tbody>tr>th.warning,
[data-theme="night"] .table>tfoot>tr>th.warning,
[data-theme="night"] .table>thead>tr.warning>td,
[data-theme="night"] .table>tbody>tr.warning>td,
[data-theme="night"] .table>tfoot>tr.warning>td,
[data-theme="night"] .table>thead>tr.warning>th,
[data-theme="night"] .table>tbody>tr.warning>th,
[data-theme="night"] .table>tfoot>tr.warning>th {
    background-color: #ff0000;
}

[data-theme="night"] .table-hover>tbody>tr>td.warning:hover,
[data-theme="night"] .table-hover>tbody>tr>th.warning:hover,
[data-theme="night"] .table-hover>tbody>tr.warning:hover>td,
[data-theme="night"] .table-hover>tbody>tr:hover>.warning,
[data-theme="night"] .table-hover>tbody>tr.warning:hover>th {
    background-color: #e60000;
}

[data-theme="night"] .table>thead>tr>td.danger,
[data-theme="night"] .table>tbody>tr>td.danger,
[data-theme="night"] .table>tfoot>tr>td.danger,
[data-theme="night"] .table>thead>tr>th.danger,
[data-theme="night"] .table>tbody>tr>th.danger,
[data-theme="night"] .table>tfoot>tr>th.danger,
[data-theme="night"] .table>thead>tr.danger>td,
[data-theme="night"] .table>tbody>tr.danger>td,
[data-theme="night"] .table>tfoot>tr.danger>td,
[data-theme="night"] .table>thead>tr.danger>th,
[data-theme="night"] .table>tbody>tr.danger>th,
[data-theme="night"] .table>tfoot>tr.danger>th {
    background-color: #6c0000;
}

[data-theme="night"] .table-hover>tbody>tr>td.danger:hover,
[data-theme="night"] .table-hover>tbody>tr>th.danger:hover,
[data-theme="night"] .table-hover>tbody>tr.danger:hover>td,
[data-theme="night"] .table-hover>tbody>tr:hover>.danger,
[data-theme="night"] .table-hover>tbody>tr.danger:hover>th {
    background-color: #520000;
}

@media screen and (max-width: 767px) {
    [data-theme="night"] .table-responsive {
        border: 1px solid #ff0000;
    }
}

[data-theme="night"] a {
    color: #ff0000;
}

[data-theme="night"] a:hover, a:focus {
    color: #b30000;
}

[data-theme="night"] .table .thead-dark th {
    color: #f00;
    background-color: #340000;
    border-color: #454d55;
}
