<?php
// databaseInfo.php
// contains several startup parameters

global $inIndex;
if((!isset($inIndex))||(!$inIndex)) include "../../redirect.php";
else databaseInfo();


function databaseInfo()
{ 
  global $host,$user,$pass,$dbname,$developversion,$googleAnalytics,$domainName,
         $instDir,$baseURL,$tempDir,$mailFrom,$mailTo,$dirAtlasses,
         $title,$browsertitle,$vvsInfo,$dslInfo,$objectInfo,$w3cInfo,
         $register,$dateformat,$defaultLanguage,$languageMenu,$maxFileSize,$modules,
         $standardLanguagesForObservationsDuringRegistration,$languagesDuringRegistration,$dirAstroImageCatalogs;

  // Change the following to make deepskylog work with your database
  $host           = "localhost";
  $user           = "root";
  $pass           = "";
  $dbname         = "deepskylog";
  $developversion = 1;             // $developversion should be removed or set to 0 on the live server
  $mailFrom       = "developers@deepskylog.be";
  $mailTo         = "developers@deepskylog.be";
  
  // Installation directory and url (each one has to end on a slash!)
  $instDir      = "/var/www/html/";
  $baseURL      = "http://localhost/";
  // tempDir has NO end slash !
  $tempDir      = "/tmp/DeepskyLog";
  $dirAstroImageCatalogs = "http://www.distant-targets.be/files/DSL/astroimagecatalogs/";
  $dirAtlasses = "http://www.distant-targets.be/files/DSL/atlasses/";

  // General settings
  // The title to appear above all pages
  $title         = "<a href=\"http://www.deepskylog.org\">DeepskyLog</a>";
  // The first part of the title that has to appear on each browser window
  $browsertitle  = "DeepskyLog";
  $copyrightInfo = $copyright.",&nbsp;DeepskyLog developers";
  $vvsInfo       = "VVS Deepsky&nbsp;-&nbsp;";
  $dslInfo       = "Powered by&nbsp;DeepskyLog&nbsp;";
  $objectInfo    = "Object Database by Eye&amp;Telescope - " . 
                   "Star Database by Tycho2+ &amp; USNO-UCAC3";
  
  // Allow users to register from within the DeepskyLog application directly
  // If you want to use a already existing database with users and passwords
  // eg ppb you should set this variable to "no" 
  $register = "yes";

  // Configure the output format of observation dates  
  // Some examples of formatting december 28th 2004:
  // d-m-Y displays 28-12-2004
  // Y/m/d displays 2004/12/28
  // M-d-Y displays Dec-28-2004
  $dateformat = "d/m/Y";

  // The standard language is the language that is used by default in 
  // deepskylog. At this moment, the possibilities are "en" and 
  // "nl". It is possible to disable the choose of a language using 
  // the variable $languageMenu. 
  $defaultLanguage = "nl";

  // If you don't want the users to change the language of deepskylog, you 
  // can set $languageMenu to 0 (1 to enable the menu)
  $languageMenu = 1;

  // maximum file size allowed for uploading drawings (in bytes)
  $maxFileSize = 2000000;

  // Defines the different DeepskyLog modules. 
  // At this moment, the possible modules are deepsky and comets.
  // The first defined module will be used for the main page.
  $modules = array("deepsky", "comets");

  // Defines the standard language of the descriptionswhich are selected during the 
  // registration.
  $standardLanguagesForObservationsDuringRegistration = "nl";

  // Defines the different languages which are selected during the 
  // registration.
  $languagesDuringRegistration = array("en", "nl");
  
  // The google analytics code
  $googleAnalytics = "UA-24366178-9";
  $domainName = "deepskylog.fr";
}
?>
