/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
**/blob
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
composer.phar
composer.lock
.DS_Store
Thumbs.db
/phpunit.xml
/.idea
/.fleet
/.vscode
.phpunit.result.cache
