a:link, a:visited {
  font-size        : 11px;
  color            : #FF9900;
  text-decoration  : none;
  font-family      : Verdana, Arial, Helvetica, sans-serif;
}

/* Small media : set the footer */
footer {
  font-family      : Verdana, Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size        : 11px;
	bottom: 0;
  left: 0;
  position: fixed;
  text-align:center;
  right: 0;
  background: #5C7D9D;
}

/* Media for larger devices */
@media screen and (min-width: 800px) {
  footer {
    background: #5C7D9D;
  }
}

/* Set color of the links in the footer to black */
footer a:link, footer a:visited  {
  color: #000000; /* Black */
}

/* Tooltips */
.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.tooltip:hover img {
  border: 0;
  margin: 10px 0 0 55px;
  float: left;
  position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
* html a:hover { background: transparent; }
.classic { background: #FFFFAA; border: 1px solid #FFAD33; }

.footertooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  text-decoration: none;
  position: relative;
}
.footertooltip span {
  margin-left: -999em;
  position: absolute;
}
.footertooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: -5em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.footertooltip:hover img {
  border: 0;
  margin: 10px 0 0 55px;
  float: left;
  position: absolute;
}
.footertooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
