a:link, a:visited {
  font-size        : 11px;
  color            : #FF9900;
  text-decoration  : none;
  font-family      : Verdana, Arial, Helvetica, sans-serif;
}

/* Small media : set the footer */
footer {
  font-family      : Verdana, Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size        : 11px;
	bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  background: #5C7D9D;
}

/* Media for larger devices */
@media screen and (min-width: 800px) {
  footer {
    background: #5C7D9D;
  }
}