#div1 {
  background-color : #003366;
  position         : absolute;
  left             : 0px;        top     : 0px;
  width            : 100%;       heigth  : 60px;
}
#div1a {
  position         : absolute;
  right            : 2px;        top     : 0px;
  width            : 26px;       height  : 60px;
}
#div1b {
	position         : absolute;
	top              : 7px;         right  : 30px;
	height           : 53px;        width  : 90%;
}
#div2 {
	position         : absolute;
	left             : 0px;         top    : 60px;
	width            : 100%;        height : 25px;
  background-color : #5C7D9D;
}
#div2a {
	position         : absolute;
	left             : 5px;         top    : 5px;
}
#div2b {
  position         : absolute;
  right            : 10px;        top    : 5px;
}
#div3 {
  position         : absolute;
  left             : 0px;         top    : 85px;
  width            : 153px;
  background-color : #5C7D9D;
}
#div4 {
	position         : absolute;
	left             : 158px;       top    : 85px;
	width            : 822px;       height : 475px;
  border           : 0px;         margin : 0px;           padding : 0px;
	background-color : #FFFFFF;
}
#div4a {
  position         : absolute;
  border           : 0px;         margin : 0px;           padding : 0px;
  left             : 0px;         top    : 0px;	
}
#div4b {
  position         : absolute;
  border           : 0px;         margin : 0px;           padding : 0px;
  left             : 0px;         top    : 464px;	
}
#div4c {
  position         : absolute;
  width            : 11px;
  left             : 811px;       top    : 0px;		
  text-align       : right;
}
#div4d {
  position         : absolute;
  width            : 11px;
  border           : 0px;         margin : 0px;           padding : 0px;
  left             : 811px;       top    : 464px;	
}
#div5 {
	position         : absolute;
	left             : 169px;       top    : 90px;      
	width            : 800px;       height : 465px;       
  margin           : 0px;         border : 0px;
  padding-left     : 0px;         padding-right : 2px; 
  paddin-top       : 0px;         padding-bottom: 0px;
	background-color : #FFFFFF;
	overflow         : auto;
}
#div6 {
	position         : absolute;
	left             : 158px;       top    : 560px;
	width            : 820px;       height : 15px;
	text-align       : center;      padding: 5px;
  background-color : #5C7D9D;
}
body {
  margin           : 0px 0px 0px 0px;
  color            : #000000;
	background-color : #5C7D9D;
	overflow         : hidden;
	height           : 100%;
	vertical-align   : bottom;
}
div#main {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  color            : #000000;
  line-height      : 130%;
  font-size        : 100%;
  font-weight      : normal;
	float            : top;
  text-align       : left;
  width            : 100%;
}
h2 { color: #777777; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold; padding-bottom: 10px; padding-top: 10px;}
h3 { color: #333333; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100%; font-weight: bold; padding-bottom: 10px; padding-top: 20px}
h4 { color: #FF9900; font-family: Verdana, Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }
h5 { color: #777777; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold; line-height:50px; margin: 0px;}
h6 { color: #777777; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold; padding: 0px; border:0px; margin:0px; }
.title    { padding-top:10px; padding-bottom: 10px; /*background-color:#FFFF00;*/}
.h2table  { height: 40px; border:0px; }
.h2header { color: #777777; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold;padding-top: 10px;padding-bottom: 5px;}
.container {
	position:relative;              width            : 100%;       
}
.containerLeft {
	position         : absolute;
	left             : 0px;        width            : 50%;
}
.containerRight {
	position         : absolute;
	right            : 0px;         width            : 50%;
	text-align       : right;
}
.pageTitle {
	position         : absolute;
	left             : 0px;        width            : 55%;
	top              : 10px;
}
.pageListHeader {
	position         : absolute;
	right            : 0px;         width            : 45%;
	vertical-align   : middle;      text-align       : right;
	padding-top      : 5px;
}
hr {
	border           : none;
	padding          : none;
	margin-top       : 5px;
	margin-bottom    : 5px;
  background       : #C0C0C0;
  height           : 1px;
  width            : 100%;
}
a:link, a:visited {
  font-size        : 11px;
  color            : #FF9900;
  text-decoration  : none;
  font-family      : Verdana, Arial, Helvetica, sans-serif;
}
a:hover {
  text-decoration  : underline;
}
td, tr, p, div {
  font-family      : Verdana, Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size        : 11px;
  color            : #000000;
}
form {
	border           : 0px;
	padding          : 0px;
	margin           : 0px;
}
.mainlevel {
  color            : #FFFF00;
  font-family      : Verdana, Geneva, Arial, Helvetica, serif;
  font-weight      : bold;
  text-decoration  : none;
}
a.mainlevel:link, a.mainlevel:visited {
  color            : #FFFF00;
  font-family      : Verdana, Arial, Helvetica, serif;
  font-weight      : bold;
  text-decoration  : none;
}
a.mainlevel:hover {
  color            : #FF9900;
  background-color : #5C7D9D;
  text-decoration  : underline;
}
.menuDiv { 
  margin           : 0px 5px 10px 5px; 
  width            : 143px;
} 
.menuDivExtended { 
  margin           : 0px 5px 10px 5px; 
  min-width        : 143px;
} 
.menuHead {
  font-size        : 11px;
  font-weight      : bold;
  color            : #FFFFFF;
  text-align       : left;
  padding          : 1px;
  border-bottom    : 1px #B8C6D4 solid;
  margin           : 0px;
}
.menuInputTitle {
  font-size        : 11px;
  font-weight      : bold;
  line-height      : 20px;
  color            : #FFFFFF;
}
.menuLine {
  color            : #FFFF00;
  font-family      : Verdana, Geneva, Arial, Helvetica, serif;
  font-weight      : bold;
  text-decoration  : none;
}
.menuDropdown {
  margin-top       : 5px;
}
.menuText {
  color            : #FFFFFF;
}
a.menuLine:link, a.menuLine:visited {
  color            : #FFFF00;
  font-family      : Verdana, Arial, Helvetica, serif;
  font-weight      : bold;
  text-decoration  : none;
  line-height      : 15pt;
}
a.menuLine:hover {
  color            : #FF9900;
  background-color : #5C7D9D;
  text-decoration  : underline;
}
.menuButton {
	width            : 145px;
}
.menuField {
	width            : 145px;
}
.menuFieldExtended {
	min-width        : 145px;
}
.menuInput {
	width            : 145px;
}
ol{
  color            : #000000;
}
ul{
  color            : #000000;
  margin           : 0px 0px 0px 0px;
}
li {
  list-style-image : url('images/arrow.gif');list-style-position:inside
}
.inputfield {
  font-weight      : normal;
	font-style       : italic;
}	
.centered {
  text-align       : center;
}
.fieldname {
  text-align       : right;
  text-indent      : 1em;
}
.fieldvalue {
	font-weight      : normal;
	font-style       : italic;
	text-indent      : 1em;
}
.fieldvaluedropdown {
	font-weight      : normal;
	font-style       : italic;
	padding-left     : 0em;
  padding-right    : 0em;
}
.fieldexplanation {
	font-style       : italic;
	text-indent      : 1em;
}
.requiredField {
	background-color : #FFFFCC;
}   



textarea.description {
   height          : 120px;
   width           : 100%;
}
textarea.listdescription {
   height          : 120px;
   width           : 100%;
}

.message {
	font-family      : Verdana, Arial, Helvetica, sans-serif;
	font-weight      : bold;
	font-size        : 10pt;
	color            : #ff6600;
	text-align       : center;
}
img.account {
	border           : 0;
}

.type1 { 
	background-color : #F0F0F0;
	padding          : 2px;
	color            : #000000;
}

.type2 { 
	background-color : #E0E6EC;
	padding          : 2px;
	color            : #000000;
}

.type3 { 
  background-color : #D0D3D6;
	padding          : 2px;
	color            : #000000;
}

.typeNotVisible { 
  background-color : #777777;
	padding          : 2px;
	color            : #000000;
}

.typeQuestionable { 
  background-color : #999999;
	padding          : 2px;
	color            : #000000;
}

.typeDifficult { 
  background-color : #CC0000;
	padding          : 2px;
	color            : #000000;
}

.typeQuiteDifficult { 
  background-color : #FF6600;
	padding          : 2px;
	color            : #000000;
}

.typeEasy { 
  background-color : #339900;
	padding          : 2px;
	color            : #000000;
}

.typeVeryEasy { 
  background-color : #66FF00;
	padding          : 2px;
	color            : #000000;
}

.tbody_obj {
  overflow         : scroll;
  height           : 130px;
}
.tbody_obs {
  overflow         : scroll;
  height           : 130px;
}
table.moduletable { 
  margin           : 0px 5px 10px 5px; 
  width            : 143px;
  border-left      : solid 0px #000000; 
  border-right     : solid 0px #000000; 
  border-top       : solid 0px #000000; 
  border-bottom    : solid 0px #000000; 
} 
table.moduletable th {
  font-size        : 11px;
  font-weight      : bold;
  color            : #FFFFFF;
  text-align       : left;
  padding          : 1px;
  border-bottom    : 1px #B8C6D4 solid;
}
table.moduletable td {
  font-size        : 11px;
  color            : #FFFFFF;
  text-align       : left;
  padding          : 1px;
}
a.moduletable:link, a.moduletable:visited {
  color            : #FF0000;
  font-family      : Verdana, Arial, Helvetica, serif;
  font-weight	     : normal;
  text-decoration  : none;
}
.containerLine {
	position         : relative;    
  text-align       : left;
  height           : 30px;
}
.containerLinePartL {
  position         : absolute;
  top              : 0px;
  text-align       : left;
  text-indent      : 10px;
}
.containerLinePartR {
  position         : absolute;
  top              : 0px;
  text-align       : right;
  text-indent      : 10px;
  vertical-align   : middle;
}
.containerLinePartC {
  position         : absolute;
  top              : 0px;
  text-align       : center;
}

