a:hover {
  text-decoration  : underline;
}
a:link, a:visited {
  font-size        : 11px;
  color            : #FF9900;
  text-decoration  : none;
  font-family      : Verdana, Arial, Helvetica, sans-serif;
}
a.mainlevel:hover {
  color            : #FF9900;
  background-color : #5C7D9D;
  text-decoration  : underline;
}
a.mainlevel:link, a.mainlevel:visited {
  color            : #FFFF00;
  font-family      : Verdana, Arial, Helvetica, serif;
  font-weight      : bold;
  text-decoration  : none;
}
a.menuLine:hover {
  color            : #FF9900;
  background-color : #5C7D9D;
  text-decoration  : underline;
}
a.menuLine:link, a.menuLine:visited {
  color            : #FFFF00;
  font-family      : Verdana, Arial, Helvetica, serif;
  font-weight      : bold;
  text-decoration  : none;
  line-height      : 15pt;
}
a.moduletable:link, a.moduletable:visited {
  color            : #FF0000;
  font-family      : Verdana, Arial, Helvetica, serif;
  font-weight	     : normal;
  text-decoration  : none;
}
a.observercatalog {
	color            : #000000;
}
.abbrevTable {
  border-style     : none;
  border-width     : 1px;
  border-color     : #FFFF00;
}
td.abbrevTable {
	font-family      : Lucida Console,sans-serif;
  font-size        : 8pt;
  padding          : 2px;
  color            : #FFFF00;
  background-color : #555555;
}
.alertMsgOk {
	position         : relative;
	top              : 3px;
}
.atlasPageDiv {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 100%;
  width            : 100%;
  margin           : 0%;
  background-color : #000000;
  border-style     : none;
}
.atlasPageDiv1 {
	position         : absolute;
	top              : 0px;
	left             : 0px;
	height           : 0px;
	width            : 0px;
	margin           : 0%;
	color            : #FFFF00;
	background-color : #555555;
	border-style     : solid;
	border-width     : 1px;
	border-color     : #FFFFFF;
	cursor           : none;
	font-size        : 8pt;
	padding          : 1px;
}
.atlasPageDiv2 {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 0px;
  width            : 0px;
  margin           : 0%;
  color            : #FFFF00;
  background-color : #555555;
  border-style     : none;
  border-width     : 1px;
  border-color     : #FFFF00;
  cursor           : none;
  font-family      : Lucida Console,sans-serif;
  font-size        : 8pt;
  padding          : 2px;
  visibility       : hidden;
  overflow         : auto;
}
.atlasPageDiv3 {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 0px;
  width            : 0px;
  margin           : 0%;
  color            : #FFFF00;
  background-color : #555555;
  border-style     : none;
  border-width     : 1px;
  border-color     : #FFFF00;
  cursor           : none;
  font-family      : Lucida Console,sans-serif;
  font-size        : 8pt;
  padding          : 2px;
  visibility       : hidden;
  overflow         : auto;
}
body {
  margin           : 0px 0px 0px 0px;
  color            : #000000;
	background-color : #5C7D9D;
	overflow         : hidden;
	height           : 100%;
	vertical-align   : bottom;
}
.bold {
	font-weight      : bold;
}
.centered {
  text-align       : center;
}
.containerLine {
	position         : relative;    
  text-align       : left;
  height           : 30px;
}
.containerLinePartC {
  position         : absolute;
  top              : 0px;
  text-align       : center;
  border-color     : #FFFFFF;
  overflow         : hidden;
}
.containerLinePartL {
  position         : absolute;
  top              : 0px;
  text-align       : left;
  text-indent      : 10px;
  border-color     : #FFFFFF;
  overflow         : hidden;
}
.containerLinePartR {
  position         : absolute;
  top              : 0px;
  text-align       : right;
  text-indent      : 10px;
  border-color     : #FFFFFF;
  overflow         : hidden;
}
.copyright {
  font-size        : 80%;
  background-color : #FFAAAA;
}
#dialog {
  text-align       : center;
  position         : absolute;
  left             : 0px;
  top              : 0px;
  width            : 0px;
  height           : 0px;
  background-color : #FFFFFF;
}
#dialogback {
  position         : absolute;
  left             : 0px;
  top              : 0px;
  width            : 0px;
  height           : 0px;
  background-color : #000000;
}
#dialogdiv1 {
  padding          : 10px;
  overflow         : auto;
  position         : absolute;
  left             : 0px;
  top              : 0px;
  width            : 0px;
  height           : 0px;
  background-color : #FFFFFF;
  border-width     : thin;
  border-style     : solid;
  border-color     : #000000;
}
#dialogdiv2 {
  text-align       : center;
  vertical-align   : middle;
  position         : absolute;
  left             : 0px;
  top              : 0px;
  width            : 0px;
  height           : 0px;
  background-color : #FFFFFF;
  border-width     : thin;
  border-style     : solid;
  border-color     : #000000;
}
#div1 {
  background-color : #003366;
  position         : absolute;
  left             : 0px;        top     : 0px;
  width            : 100%;       height  : 60px;
}
#div1a {
  position         : absolute;
  right            : 4px;        top     : 0px;
  width            : 26px;       height  : 60px;
}
#div1b {
	position         : absolute;
	top              : 7px;         right  : 30px;
	height           : 53px;        width  : 90%;
}
#div2 {
	position         : absolute;
	left             : 0px;         top    : 60px;
	width            : 100%;        height : 25px;
  background-color : #5C7D9D;
}
#div2a {
	position         : absolute;
	left             : 5px;         top    : 5px;
}
#div2b {
  position         : absolute;
  right            : 10px;        top    : 5px;
}
#div3 {
  position         : absolute;
  left             : 0px;         top    : 85px;
  width            : 153px;
  background-color : #5C7D9D;
}
#div4 {
	position         : absolute;
	left             : 158px;       top    : 85px;
	width            : 822px;       height : 475px;
  border           : 0px;         margin : 0px;           padding : 0px;
	background-color : #FFFFFF;
}
#div4a {
  position         : absolute;
  border           : 0px;         margin : 0px;           padding : 0px;
  left             : 0px;         top    : 0px;	
}
#div4b {
  position         : absolute;
  border           : 0px;         margin : 0px;           padding : 0px;
  left             : 0px;         top    : 464px;	
}
#div4c {
  position         : absolute;
  width            : 11px;
  left             : 811px;       top    : 0px;		
  text-align       : right;
}
#div4d {
  position         : absolute;
  width            : 11px;
  border           : 0px;         margin : 0px;           padding : 0px;
  left             : 811px;       top    : 464px;	
}
#div5 {
	position         : absolute;
	left             : 169px;       top    : 90px;      
	width            : 800px;       height : 465px;       
  margin           : 0px;         border : 0px;
  padding-left     : 0px;         padding-right : 2px; 
  padding-top       : 0px;        padding-bottom: 0px;
	background-color : #FFFFFF;
	overflow         : auto;
}
#div6 {
	position         : absolute;
	left             : 158px;       top    : 560px;
	width            : 820px;       height : 15px;
	text-align       : center;      padding: 5px;
  background-color : #5C7D9D;
}
div#main {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  color            : #000000;
  line-height      : 130%;
  font-size        : 100%;
  font-weight      : normal;
  text-align       : left;
  width            : 100%;
}
.DSSImage {
	width            : 495px;
	height           : 495px;
}
.errorclass {
	color            :  red;
}
.expandedObservation {
  background-color : #FFFFC0;
}
.fieldexplanation {
	font-style       : italic;
	text-indent      : 1em;
}
.fieldname {
  text-align       : right;
  text-indent      : 1em;
}
.fieldvalue {
	font-weight      : normal;
	font-style       : italic;
	text-indent      : 1em;
}
.fieldvaluedropdown {
	font-weight      : normal;
	font-style       : italic;
	padding-left     : 0em;
  padding-right    : 0em;
}
.floatright {
	float            : right;
}
form {
	border           : 0px;
	padding          : 0px;
	margin           : 0px;
}
#googleMap {
  width            : 490px;
  height           : 245px;
}
h4 { 
	color            : #777777; 
	font-family      : Verdana, Arial, Helvetica, sans-serif; 
	font-size        : 120%; 
	font-weight      : bold; 
	line-height      : 30px; 
	margin           : 0px;
}
height5px {
	height           : 5px;
}
hr {
	border           : none;
	padding          : 0px;
	margin-top       : 5px;
	margin-bottom    : 5px;
  background       : #C0C0C0;
  height           : 1px;
  width            : 100%;
}
img.account {
	border           : 0px;
}
img.oal {
	border           : 0px;
}
img.w3c {
	border           : 0px;
	width            : 55px;
	height           : 19px
}
.inputDiv {
	background-color : #DDDDDD;
}
.inputfield {
  font-weight      : normal;
	font-style       : italic;
}	
li {
  list-style-image : url('styles/images/arrow.gif');
  list-style-position : inside
}
.menuButton {
	width            : 145px;
}
.menuDiv { 
  margin           : 0px 5px 10px 5px; 
  width            : 143px;
} 
.menuDivExtended { 
  margin           : 0px 5px 10px 5px; 
  min-width        : 143px;
} 
.menuDropdown {
  margin-top       : 5px;
}
.menuField {
	width            : 145px;
}
.menuFieldExtended {
	min-width        : 145px;
}
.menuHead {
  font-size        : 11px;
  font-weight      : bold;
  color            : #FFFFFF;
  text-align       : left;
  padding          : 1px;
  border-bottom    : 1px #B8C6D4 solid;
  margin           : 0px;
}
.menuInput {
  margin-top       : 5px;
	width            : 140px;
}
.menuInputTitle {
  font-size        : 11px;
  font-weight      : bold;
  line-height      : 20px;
  color            : #FFFFFF;
}
.menuLine {
  color            : #FFFF00;
  font-family      : Verdana, Geneva, Arial, Helvetica, serif;
  font-weight      : bold;
  text-decoration  : none;
}
.menuText {
  color            : #FFFFFF;
}
.message {
	font-family      : Verdana, Arial, Helvetica, sans-serif;
	font-weight      : bold;
	font-size        : 10pt;
	color            : #ff6600;
	text-align       : center;
}
.moonpic {
  vertical-align   : top;	
}
.navigationButton {
	border           : 0;
	vertical-align   : middle;
}
.normal {
	font-style       : normal;
}
.observercatalogbackground {
	background       : #FFFFFF; 
	color            : #000000;
	padding          : 5px 5px 5px 5px; 
	text-align       : right;
}
.observercataloggreen {
	background       : #33FF00; 
	color            : #000000;
	padding          : 5px 5px 5px 5px; 
	text-align       : center;
}
.observercatalogred {
	background       : #FF0000; 
	color            : #000000;
	padding          : 5px 5px 5px 5px; 
	text-align       : center;
}
.observercatalogyellow {
	background       : #FFFF00; 
	color            : #000000;
	padding          : 5px 5px 5px 5px; 
	text-align       : center;
}
ol {
  color            : #000000;
}
p, td, tr, div {
  font-family      : Verdana, Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size        : 11px;
  color            : #000000;
}
.requiredField {
	background-color : #FFFFCC;
}
.seenN {
  background-color : #CC2222;
	padding          : 2px;
}
.seenX {
  background-color : #E5E500;
	padding          : 2px;
}
.seenY {
  background-color : #228822;
	padding          : 2px;
}
.seenYD {
}
.sortButton {
	border           : 0px;
}
table {
	width            : 100%;
}
.tbody_obj {
  overflow         : scroll;
  height           : 130px;
}
.tbody_obs {
  overflow         : scroll;
  height           : 130px;
}
textarea.description {
   height          : 120px;
   width           : 97%;
}
textarea.listdescription {
   height          : 120px;
   width           : 98%;
}
ul{
  color            : #000000;
  margin           : 0px 0px 0px 0px;
}
.type1 { 
	background-color : #F0F0F0;
	padding          : 2px;
	color            : #000000;
}
.type10 { 
	background-color : #F0F0F0;
	color            : #000000;
	border           : #FFFFFF thin solid;
}
.type15 { 
	background-color : #EFE0E0;
	color            : #000000;
}
.type2 { 
	background-color : #E0E6EC;
	padding          : 2px;
	color            : #000000;
}
.type20 { 
	background-color : #E0E6EC;
	color            : #000000;
	border           : #FFFFFF thin solid;
}
.type25 { 
  background-color : #DFD6DC;
	color            : #000000;
}
.type3 { 
  background-color : #D0D3D6;
	padding          : 2px;
	color            : #000000;
}
.type30 { 
  background-color : #D0D3D6;
	color            : #000000;
	border           : #FFFFFF thin solid;
}
.typeDifficult { 
  background-color : #CC0000;
	padding          : 2px;
	color            : #000000;
}
.typeEasy { 
  background-color : #339900;
	padding          : 2px;
	color            : #000000;
}
.typeNotVisible { 
  background-color : #777777;
	padding          : 2px;
	color            : #000000;
}
.typeQuestionable { 
  background-color : #999999;
	padding          : 2px;
	color            : #000000;
}

.typeQuiteDifficult { 
  background-color : #FF6600;
	padding          : 2px;
	color            : #000000;
}

.typeVeryEasy { 
  background-color : #66FF00;
	padding          : 2px;
	color            : #000000;
}
.underline {
	text-decoration  : underline;
}
#veil {
  position         : absolute;
  left             : 0px;
  top              : 0px;
  width            : 0px;
  height           : 0px;
  background-color : #000000;
} 
.waitMessage {
  position         : absolute;
  left             : 20px;
  top              : 20px;
}
.width10px {
  width            : 10px;
}
.width125px {
  width            : 125px;
}
.width200px {
  width            : 200px;
}
.width230px {
  width            : 230px;
}
.width300px {
  width            : 300px;
}