/* Standard styles */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: normal;
	line-height: normal;
	margin-left: 0px;
	margin-top: 0px;
	margin-right : 0px;
	margin-bottom: 0px;
	background-color: #003366;
	background-image: url(images/bg_header.gif);
	background-repeat: repeat-x;
}

a {
	color: #FFFF00;
	font-weight: bold;
	text-decoration: none;
}

a:hover { 
  text-decoration: underline;
}

h3 { 
	font-size: 120%;
 }

th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 1px solid #CCCCCC;
  font-size: 10px;
}
 
.head {
  background-color: #444444;
  font-size: 10px;
}

.dark {
  background-color: #002244;
  font-size: 10px;
}

.light {
  background-color: #002B55;
  font-size: 10px;
}

.hemel {
  font-size: 10px
 }
 
 .elf {
  font-size: 11px
}


/* Header styles */

.headersitename {
	height: 65px;
	background-image: url(images/logoband2.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
	padding-right: 10px;
}

.headerlinks  {
 white-space: nowrap;
 color: #003366;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 font-weight: bold;
 padding-left: 25px;
}

.headerlinks a  {
  color: #003366;
 }

.headerspace {
	height: 5px;
}

#search .form-text, #search .form-submit {
	vertical-align: middle;
	border: 1px solid #28527D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#search .form-text {
	width: 150px;
	height: 16px;
}

#search .form-submit {
	height: 20px;
	width: 50px;
	color: #003366;
	font-weight: bold;
}


/* Node styles */

.nodetitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	color: #CCCCCC;
	padding-bottom: 10px;
	padding-left: 20px;
}

.nodedate {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.nodebody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 130%;
	font-size: 70%;
	font-weight: normal;
	padding-left: 20px;
}

.nodelinks {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFF99;
	padding-top: 8px;
	padding-left: 20px;
	padding-bottom: 30px;
}

.nodelinkshome {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFF99;
	padding-top: 8px;
	padding-left: 0px;
	padding-bottom: 30px;
}

.nodeimg {
	border: 1px #FFFF00;
	margin-right: 20px;
	margin-bottom: 30px;
}


/* Box styles */

.boxtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #FFFFFF;
	height: 30px;
	font-weight: bold;
}

.boxbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: #CCCCCC;
}


/* Menu styles */

.menu {
  padding: 0 0 0 0.5em;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0.25em 1em;
  border: none;
  text-align:left;
}

.menu li {
  margin: 0;
  padding: 0.2em 0.5em 0 0;
}

.menu li a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.menu li a.active {
  color: #FFFFFF;
}

.menu li a:hover {
  color: #FFFF00;
}


/* Misc other styles */

.leftcolumn {
    width: 150px;
	padding-left:8px;
    padding-right:7px;
	padding-top:20px;
	background-color: #002C59;
	background-image: url(images/bg_sides.gif);
	background-repeat: repeat-x;
}

.middlecolumn {
    width: 100%;
	padding-left:12px;
    padding-right:12px;
	padding-top:20px;
	background-image: url(images/bg_middle.gif);
	background-repeat: repeat-x;
}

.rightcolumn {
	width: 135px;
	padding-left:12px;
    padding-right:6px;
	padding-top:20px;
	background-color: #002C59;
	background-image: url(images/bg_sides.gif);
	background-repeat: repeat-x;
}

.lineh {
	background-image: url(images/dotlineh_vvs.gif);
	background-repeat: repeat-x;
    width: 100%;
}

.linev {
	background-image: url(images/dotlinev_vvs.gif);
	background-repeat: repeat-y;
	width: 24px;
    white-space: nowrap;
}


.delimiter {                                                                                      
    background-image: url(images/delimiter_vvs2.gif);                                                 
    background-repeat: no-repeat;                                                                 
    width: 5px;                                                                                   
    margin-right: 5px;                                                                            
    margin-left: 5px;                                                                             
    background-position: center;
	vertical-align: bottom;                                                                  
}

.delimiterdark {                                                                                      
    background-image: url(images/delimiter_vvs2_dark.gif);                                                 
    background-repeat: no-repeat;                                                                 
    width: 5px;                                                                                   
    margin-right: 5px;                                                                            
    margin-left: 5px;                                                                             
    background-position: center;
	vertical-align: bottom;                                                                  
}

.block-list {
  padding-left: 1.0em;
  margin-left: 0em;
  list-style-image: url("misc/menu-collapsed.gif");
}

.breadcrumb {
	font-size: 70%;
	padding-bottom: 10px;
}

#forum .name {
 font-size: 120%; margin: 0.5em;
}
#forum .description, #forum .navigation {
  font-size: 100%;
  margin: 0.5em;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
  text-align: center;
}

.comment-folded {
 font-size:  100%;
}

.form-item .description {
  font-size: 100%;
}

.calendar td              { font-size: 0.9em; }
.calendar .day-today      { background-color: #ccc000; }
.calendar .day-selected   { background-color: #bbb000; }
.calendar .header-month   { background-color: #ddd000; }
.calendar .header-week    { background-color: #ccc000; }
.calendar .day-blank      { background-color: #ff0000; }
.calendar .day-link a     { font-weight: bold; color: #000; }
.calendar .row-week       { color: #aaa000; }

div.gebiedh {
 background-color:#004488;
 text-align:justify;
 margin:1em;
 padding-left:1em;
 padding-top:1pt;
 padding-bottom:1em;
 padding-right:1em;
}

div.news {
 background-color:#004488;
 text-align:justify;
 margin:1em;
 border: 1px solid #0000bb;
 padding:1em;
 }


#pager {
	padding-bottom: 20px;
	text-align: center;
	font-size: 100%;
}
#pager div {
	font-size: 70%;
}
